.button{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
   
    text-align: center;
}
:root{
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: 
}
.checkbox{
    width: 18px;
    height: 18px;
}
sup{
    font-size: medium;
}
section{
    margin-bottom: 1px;
}
