.card {
  color: #1b1b1b;
  width: 300px;
  height: 350px;
  position: relative;
  outline: 6px solid #f5f5f5;
  border-radius: 8px;
  line-height: 150%;
  padding: 16px;
  background: lightcyan;
  background-blend-mode: multiply;
  background: linear-gradient(to top, lightcyan,  rgb(175, 225, 225));
  transition: background-color 1s ease-in-out;
  overflow: hidden;
}

.cardfront {
 top: 20px;
  left: 3px;
  position: absolute;
  width: 100%;
  text-align: center;
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.cardback {
  transform: translateX(120%);
  transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}


/*Text*/
.title {
  font-size: 1.3rem;
  font-weight: bold;
}
/*Text divider*/
.title::after {
  
 
  width: 50%;
  border-radius: 50%;
  height: 2px;
  margin: 2px auto;
  background-color: #1b1b1b;
}
.btn {
margin-left: 90%;
}

/*Hover*/
.card:hover {
  background-color: #1b1b1b25;
}

.card:hover .cardfront {
  transform: translateX(-100%);
}

.card:hover .cardback {
  transform: translateX(0);
}


