.modal{
        margin: 30px;
}
.card3{
        
        background-color: lightcyan;
        color: gold;
}
.submit{
        background-color: black;
        color: gold;
        font-weight: bold;
      }
    
    

